.hero {
  background-image: url("/src/assets/home_image/hero_img.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 15px);
  
}

.overley {
  background-color: rgba(0, 0, 0, 0.8);
  
}
.same-style {
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  margin-top: 10px;
}

